<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Money Bags</title>
</head>
<body>
<header id="header">

    <div class="container">
        <div class="subcontainer">
            <nav class="navbar">
                <a class="companyname">MONEY BAGS</a>
                <ul class="social-menu">


                </ul>
                <ul class="nav-menu">
                    <li  class="nav-item">
                        <a id="active" class="nav-link" href="/">MARKET</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/portfolio">PORTFOLIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/signup">SIGNUP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">LOGIN</a>
                    </li>


                </ul>
                <!-- <a id="hiremebutton" href="#section5">HIRE ME</a> -->
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>


            </nav>
        </div>
    </div>

</header>
<section id="section1">
    <section class="main">
        <h1 class="mainh1">Start <span >monitoring</span> your porfolio</h1>
        <p class="paragraphSection1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut ducimus eius error esse, et ex facere magni minima perferendis placeat porro possimus quos reprehenderit tempora tempore totam veniam voluptate voluptates!</p>

        <a class="buttonMain" href="#">Get Started</a>


    </section>
    <img class="mascot" src="https://i.postimg.cc/mZCrhhny/Pngtree-cryptocurrency-miner-guy-5315592.png" alt="">
</section>
<section>


    <table class="styled-table">
        <thead>
        <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>24h%</th>
        </tr>
        </thead>
        <tbody>
        <% currencies.forEach( el => { %>

        <tr class="active-row">
            <td><%= el.market_cap_rank %></td>-->
                    <td>
                        <img class="coinImages" src="<%= el.image %>" alt="">
                        <%= el.name %>

                    </td>
                    <td><%= el.current_price %></td>
                    <td><%= el.price_change_percentage_24h %></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</section>

<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
