<%- include('partials/header') -%>
    <section class="portfolioSection">
        <h1>Portfolio</h1>

        <table class="styled-table">
            <thead>
            <tr>
                <th>Quantity</th>
                <th>Name</th>
                <th>Price</th>
                <th>Changed since bought</th>
            </tr>
            </thead>
            <tbody>
            <% coin.forEach( el => { %>

                <tr class="active-row portfolioItem test" data-id='<%=el._id%>'>
                    <td><%=el.amount%></td>
                    <td>
                        <img class="coinImages" src="<%= el.image %>" alt="">
                        <%= el.coin %>

                    </td>
                    <td><%= currencies[0].current_price * el.amount %></td>

                    <%  currencies.findIndex((element,index)=>{
                        if(element.symbol === el.coin.toLowerCase()){

                            return index
                        }

                    })%>
                    console.log(individualCoin)
                    <td ><%=currencies[0].current_price  %></td>
                </tr>

            <% }) %>
            </tbody>
        </table>





<!--        <ul>-->
<!--        <% coin.forEach( el => { %>-->
<!--            <li class='portfolioItem' data-id='<%=el._id%>'>-->
<!--                <span><%= el.coin %> - <%= el.amount%></span>-->
<!--                <span class='del'> Delete </span>-->
<!--            </li>-->
<!--        <% }) %>    -->
<!--        </ul>-->

        <h2><%= user.userName %> has <%= amount %> coin</h2>

        <form action="/portfolio/createCoin" method='POST'>
            <input type="text" placeholder="Enter Coin" name='portfolioItem'>
            <input type="text" placeholder="Enter Amount" name='amountOfCoin'>
            <input type="submit">
        </form>
        <a href="/logout">Logout</a>

    <%- include('partials/footer') -%>