<%- include('partials/header') -%>
    <section>
        <h1>Portfolio</h1>
        <ul>
        <% coin.forEach( el => { %>
            <li class='portfolioItem' data-id='<%=el._id%>'>
                <span><%= el.coin %> - <%= el.amount%></span>
                <span class='del'> Delete </span>
            </li>
        <% }) %>    
        </ul>

        <h2><%= user.userName %> has <%= amount %> coin</h2>

        <form action="/portfolio/createCoin" method='POST'>
            <input type="text" placeholder="Enter Coin" name='portfolioItem'>
            <input type="text" placeholder="Enter Amount" name='amountOfCoin'>
            <input type="submit">
        </form>
        <a href="/logout">Logout</a>
    </section>
    <%- include('partials/footer') -%>