<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Portfolio</title>
</head>
<body>
<%- include('partials/headerportfolio') -%>
<section class="portfolioSection">
    <h1>Portfolio</h1>

    <table class="styled-table">
        <thead>
        <tr>
            <th>Quantity</th>
            <th>Name</th>
            <th>Initial Price </th>
            <th>Total</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
        <% coin.forEach( el => { %>

        <tr class="active-row portfolioItem test" data-id='<%=el._id%>'>
            <td><%=el.amount%></td>
            <td>
                <img class="coinImages" src="<%= el.image %>" alt="">
                <%= el.coin %>

            </td>
            <td> <%= currencies[0].current_price %></td>
            <td class="total">
                <%currencies.findIndex((element,index)=>{ %>

                    <% if(element.symbol === el.coin.toLowerCase()){%>

                    <%=currencies[index].current_price.toFixed(2) * el.amount.toFixed(2)  %>



            </td>
            <% } %>
            <% }) %>
            <td class='del'>Delete </td>
        </tr>

        <% }) %>
        <tr class="active-row portfolioItem test">
            <td>Total</td>
            <td></td>
            <td></td>
            <td id="currentBalance"></td>
            <td></td>
        </tr>
        </tbody>
    </table>







    <h2><%= user.userName %> has <%= amount %> coin</h2>

    <form action="/portfolio/createCoin" method='POST'>

        <select name="portfolioItem" id="">
            <% currencies.forEach( el => { %>
            <option  value="<%=el.symbol.toUpperCase()%>" ><%=el.name%></option>
            <% }) %>
        </select>
        <input type="text" placeholder="Enter Amount" name='amountOfCoin'>
        <input type="submit">
    </form>


    <%- include('partials/footer') -%>
    <script src="js/main.js">

    </script>
</body>
</html>